<header class="header">
  <div class="navbar-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html" style="display: flex; align-items: center;">
              <img src="assets/img/logo/nart_beyaz.svg" alt="Nart Gaz Logo" id="main-logo" style="height: 80px; width: auto;" />
              <img src="assets/img/logo/nart-yazi.svg" class="scroll-only-text" style="height: 60px; width: auto; display: none; margin-left: 10px;" alt="Nart Gaz Yazı">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="index.html#home" data-en="Home" data-ru="Главная" data-ar="الرئيسية" data-zh="首页" data-es="Inicio" data-it="Home" data-hi="होम">Anasayfa</a>
                </li>
                <li class="nav-item">
                  <a href="certificates.html" data-en="Certificates" data-ru="Сертификаты" data-ar="الشهادات" data-zh="证书" data-es="Certificados" data-it="Certificati" data-hi="प्रमाणपत्र">Sertifikalar</a>
                </li>

                <!-- ==========================================
                     1. ANA MENÜ: ÜRÜNLERİMİZ MEGAMENÜ
                     ========================================== -->
                <li class="nav-item dropdown position-static">
                  <a class="nav-link dropdown-toggle" href="products.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="Products" data-ru="Продукция" data-ar="منتجاتنا" data-zh="产品" data-es="Productos" data-it="Prodotti" data-hi="हमारे उत्पाद">
                    Ürünlerimiz
                  </a>
                  <div class="dropdown-menu megamenu w-100 shadow border-0" style="margin-top: 0; background: #fff; border-radius: 0 0 10px 10px;">
                    <div class="container">
                      <div class="row p-4">

                        <!-- SÜTUN 1: İSTASYONLAR -->
                        <div class="col-lg-3">
                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-construction' style='margin-right:10px;'></i>Stations" data-ru="<i class='lni lni-construction' style='margin-right:10px;'></i>Станции" data-ar="<i class='lni lni-construction' style='margin-right:10px;'></i>المحطات" data-zh="<i class='lni lni-construction' style='margin-right:10px;'></i>站" data-es="<i class='lni lni-construction' style='margin-right:10px;'></i>Estaciones" data-it="<i class='lni lni-construction' style='margin-right:10px;'></i>Stazioni" data-hi="<i class='lni lni-construction' style='margin-right:10px;'></i>स्टेशन"><i class="lni lni-construction" style="margin-right:10px;"></i>İstasyonlar</h6>
                          <ul class="list-unstyled">
                            <li><a class="dropdown-item nart-mega-link" href="products/rms-a.html" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-A-istasyonu/1_1.webp" data-en="RMS-A Stations" data-ru="Станции RMS-A" data-ar="محطات RMS-A" data-zh="RMS-A 站" data-es="Estaciones RMS-A" data-it="Stazioni RMS-A" data-hi="RMS-A स्टेशन">RMS-A İstasyonlar</a></li>
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-B-istasyonu/5000-m3h-RMS-B-istasyonu/1_1.webp" data-en="RMS-B Stations" data-ru="Станции RMS-B" data-ar="محطات RMS-B" data-zh="RMS-B 站" data-es="Estaciones RMS-B" data-it="Stazioni RMS-B" data-hi="RMS-B स्टेशन">RMS-B İstasyonlar</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products/rms-b.html" class="nart-mega-link" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-B-istasyonu/5000-m3h-RMS-B-istasyonu/1_1.webp" data-en="5000 m³/h RMS-B" data-ru="5000 м³/ч RMS-B" data-ar="5000 m³/h RMS-B" data-zh="5000 m³/h RMS-B" data-es="5000 m³/h RMS-B" data-it="5000 m³/h RMS-B" data-hi="5000 m³/h RMS-B">5000 m³/h RMS-B</a></li>
                              </ul>
                            </li>
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-C-istasyonu/500-m3h-RMS-C-istasyonu/1_1.webp" data-en="RMS-C Stations" data-ru="Станции RMS-C" data-ar="محطات RMS-C" data-zh="RMS-C 站" data-es="Estaciones RMS-C" data-it="Stazioni RMS-C" data-hi="RMS-C स्टेशन">RMS-C İstasyonlar</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products/rms-c-500.html" class="nart-mega-link" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-C-istasyonu/500-m3h-RMS-C-istasyonu/1_1.webp" data-en="500 m³/h RMS-C" data-ru="500 м³/ч RMS-C" data-ar="500 m³/h RMS-C" data-zh="500 m³/h RMS-C" data-es="500 m³/h RMS-C" data-it="500 m³/h RMS-C" data-hi="500 m³/h RMS-C">500 m³/h RMS-C</a></li>
                                <li><a href="products/rms-c-750.html" class="nart-mega-link" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-C-istasyonu/750-m3h-RMS-C-istasyonu/1_1.webp" data-en="750 m³/h RMS-C" data-ru="750 м³/ч RMS-C" data-ar="750 m³/h RMS-C" data-zh="750 m³/h RMS-C" data-es="750 m³/h RMS-C" data-it="750 m³/h RMS-C" data-hi="750 m³/h RMS-C">750 m³/h RMS-C</a></li>
                                <li><a href="products/rms-c-1000.html" class="nart-mega-link" data-preview="assets/img/products/istasyonlar/RMS-istasyonlari/RMS-C-istasyonu/1000-m3h-RMS-C-istasyonu/1_1.webp" data-en="1000 m³/h RMS-C" data-ru="1000 м³/ч RMS-C" data-ar="1000 m³/h RMS-C" data-zh="1000 m³/h RMS-C" data-es="1000 m³/h RMS-C" data-it="1000 m³/h RMS-C" data-hi="1000 m³/h RMS-C">1000 m³/h RMS-C</a></li>
                              </ul>
                            </li>
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/istasyonlar/RS-C-istasyonu/400-m3h-RS-C-istasyonu/1_1.webp" data-en="RS-C Stations" data-ru="Станции RS-C" data-ar="محطات RS-C" data-zh="RS-C 站" data-es="Estaciones RS-C" data-it="Stazioni RS-C" data-hi="RS-C स्टेशन">RS-C İstasyonlar</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products/rs-c-400.html" class="nart-mega-link" data-preview="assets/img/products/istasyonlar/RS-C-istasyonu/400-m3h-RS-C-istasyonu/1_1.webp" data-en="400 m³/h RS-C" data-ru="400 м³/ч RS-C" data-ar="400 m³/h RS-C" data-zh="400 m³/h RS-C" data-es="400 m³/h RS-C" data-it="400 m³/h RS-C" data-hi="400 m³/h RS-C">400 m³/h RS-C</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <!-- SÜTUN 2: REGÜLATÖRLER & VANALAR -->
                        <div class="col-lg-3">
                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-cog' style='margin-right:10px;'></i>Regulators" data-ru="<i class='lni lni-cog' style='margin-right:10px;'></i>Регуляторы" data-ar="<i class='lni lni-cog' style='margin-right:10px;'></i>المنظمات" data-zh="<i class='lni lni-cog' style='margin-right:10px;'></i>调节器" data-es="<i class='lni lni-cog' style='margin-right:10px;'></i>Reguladores" data-it="<i class='lni lni-cog' style='margin-right:10px;'></i>Regolatori" data-hi="<i class='lni lni-cog' style='margin-right:10px;'></i>रेगुलेटर"><i class="lni lni-cog" style="margin-right:10px;"></i>Regülatörler</h6>
                          <ul class="list-unstyled mb-3">
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/regulatorler/domestik/cift/erg-se/erg-se-1.webp" data-en="Domestic Regulators" data-ru="Бытовые регуляторы" data-ar="منظمات منزلية" data-zh="家用调节器" data-es="Reguladores Domésticos" data-it="Regolatori Domestici" data-hi="घरेलू रेगुलेटर">Domestik Regülatörler</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/cift/erg-se/erg-se-1.webp" data-en="ERG-SE (Double Stage)" data-ru="ERG-SE (Двухступенчатый)" data-ar="ERG-SE (مرحلة مزدوجة)" data-zh="ERG-SE (双级)" data-es="ERG-SE (Doble Etapa)" data-it="ERG-SE (Doppio Stadio)" data-hi="ERG-SE (डबल स्टेज)">ERG-SE (Çift Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/cift/erg-sr/erg-sr-1.webp" data-en="ERG-SR (Double Stage)" data-ru="ERG-SR (Двухступенчатый)" data-ar="ERG-SR (مرحلة مزدوجة)" data-zh="ERG-SR (双级)" data-es="ERG-SR (Doble Etapa)" data-it="ERG-SR (Doppio Stadio)" data-hi="ERG-SR (डबल स्टेज)">ERG-SR (Çift Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/cift/erg-s/erg-s-1.webp" data-en="ERG-S (Double Stage)" data-ru="ERG-S (Двухступенчатый)" data-ar="ERG-S (مرحلة مزدوجة)" data-zh="ERG-S (双级)" data-es="ERG-S (Doble Etapa)" data-it="ERG-S (Doppio Stadio)" data-hi="ERG-S (डबल स्टेज)">ERG-S (Çift Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/tek/erg/erg-1.webp" data-en="ERG (Single Stage)" data-ru="ERG (Одноступенчатый)" data-ar="ERG (مرحلة واحدة)" data-zh="ERG (单级)" data-es="ERG (Etapa Simple)" data-it="ERG (Monostadio)" data-hi="ERG (सिंगल स्टेज)">ERG (Tek Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/tek/erg-e/erg-e-1.webp" data-en="ERG-E (Single Stage)" data-ru="ERG-E (Одноступенчатый)" data-ar="ERG-E (مرحلة واحدة)" data-zh="ERG-E (单级)" data-es="ERG-E (Etapa Simple)" data-it="ERG-E (Monostadio)" data-hi="ERG-E (सिंगल स्टेज)">ERG-E (Tek Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/tek/erg-h/erg-h-1.webp" data-en="ERG-H (Single Stage)" data-ru="ERG-H (Одноступенчатый)" data-ar="ERG-H (مرحلة واحدة)" data-zh="ERG-H (单级)" data-es="ERG-H (Etapa Simple)" data-it="ERG-H (Monostadio)" data-hi="ERG-H (सिंगल स्टेज)">ERG-H (Tek Kademeli)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/domestik/tek/erg-eh/erg-eh-1.webp" data-en="ERG-EH (Single Stage)" data-ru="ERG-EH (Одноступенчатый)" data-ar="ERG-EH (مرحلة واحدة)" data-zh="ERG-EH (单级)" data-es="ERG-EH (Etapa Simple)" data-it="ERG-EH (Monostadio)" data-hi="ERG-EH (सिंगल स्टेज)">ERG-EH (Tek Kademeli)</a></li>
                              </ul>
                            </li>
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/regulatorler/endustriyel/erg-h1/erg-h1-1.webp" data-en="Industrial Regulators" data-ru="Промышленные регуляторы" data-ar="منظمات صناعية" data-zh="工业调节器" data-es="Reguladores Industriales" data-it="Regolatori Industriali" data-hi="औद्योगिक रेगुलेटर">Endüstriyel Regülatörler</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/endustriyel/erg-h1/erg-h1-1.webp" data-en="ERG-H1" data-ru="ERG-H1" data-ar="ERG-H1" data-zh="ERG-H1" data-es="ERG-H1" data-it="ERG-H1" data-hi="ERG-H1">ERG-H1</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/endustriyel/erg-h5/erg-h5-1.webp" data-en="ERG-H5" data-ru="ERG-H5" data-ar="ERG-H5" data-zh="ERG-H5" data-es="ERG-H5" data-it="ERG-H5" data-hi="ERG-H5">ERG-H5</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/endustriyel/erg-h6/erg-h6-1.webp" data-en="ERG-H6" data-ru="ERG-H6" data-ar="ERG-H6" data-zh="ERG-H6" data-es="ERG-H6" data-it="ERG-H6" data-hi="ERG-H6">ERG-H6</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/regulatorler/endustriyel/erg-h7/erg-h7-1.webp" data-en="ERG-H7" data-ru="ERG-H7" data-ar="ERG-H7" data-zh="ERG-H7" data-es="ERG-H7" data-it="ERG-H7" data-hi="ERG-H7">ERG-H7</a></li>
                              </ul>
                            </li>
                          </ul>

                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-layers' style='margin-right:10px;'></i>Valves" data-ru="<i class='lni lni-layers' style='margin-right:10px;'></i>Клапаны" data-ar="<i class='lni lni-layers' style='margin-right:10px;'></i>صمامات" data-zh="<i class='lni lni-layers' style='margin-right:10px;'></i>阀门" data-es="<i class='lni lni-layers' style='margin-right:10px;'></i>Válvulas" data-it="<i class='lni lni-layers' style='margin-right:10px;'></i>Valvole" data-hi="<i class='lni lni-layers' style='margin-right:10px;'></i>वाल्व"><i class="lni lni-layers" style="margin-right:10px;"></i>Vanalar</h6>
                          <ul class="list-unstyled">
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/vanalar/kuresel/flansli/1_1.webp" data-en="Ball Valves" data-ru="Шаровые краны" data-ar="صمامات كروية" data-zh="球阀" data-es="Válvulas de Bola" data-it="Valvole a Sfera" data-hi="बॉल वाल्व">Küresel Vanalar</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/vanalar/kuresel/flansli/1_1.webp" data-en="Flanged Ball Valves (API-6D)" data-ru="Фланцевые шаровые краны (API-6D)" data-ar="صمامات كروية بفلنجات (API-6D)" data-zh="法兰球阀 (API-6D)" data-es="Válvulas de Bola Bridadas (API-6D)" data-it="Valvole a Sfera Flangiate (API-6D)" data-hi="फ्लैंग्ड बॉल वाल्व (API-6D)">Flanşlı vanalar (API-6D)</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/vanalar/kuresel/kaynakli/1_1.webp" data-en="Welded Ball Valves (API-6D)" data-ru="Сварные шаровые краны (API-6D)" data-ar="صمامات ملحومة (API-6D)" data-zh="焊接球阀 (API-6D)" data-es="Válvulas de Bola Soldadas (API-6D)" data-it="Valvole a Sfera Saldate (API-6D)" data-hi="वेल्डेड बॉल वाल्व (API-6D)">Kaynaklı vanalar (API-6D)</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <!-- SÜTUN 3: FİLTRELER, EŞANJÖRLER & KUTU ÇÖZÜMLERİ -->
                        <div class="col-lg-3">
                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-target' style='margin-right:10px;'></i>Steel Filters" data-ru="<i class='lni lni-target' style='margin-right:10px;'></i>Стальные фильтры" data-ar="<i class='lni lni-target' style='margin-right:10px;'></i>فلاتر فولاذية" data-zh="<i class='lni lni-target' style='margin-right:10px;'></i>钢制过滤器" data-es="<i class='lni lni-target' style='margin-right:10px;'></i>Filtros de Acero" data-it="<i class='lni lni-target' style='margin-right:10px;'></i>Filtri in Acciaio" data-hi="<i class='lni lni-target' style='margin-right:10px;'></i>स्टील फ़िल्टर"><i class="lni lni-target" style="margin-right:10px;"></i>Çelik Filtreler</h6>
                          <ul class="list-unstyled mb-3">
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/celik-filtreler/tip1/1.webp" data-en="Filter Groups" data-ru="Группы фильтров" data-ar="مجموعات الفلاتر" data-zh="过滤器组" data-es="Grupos de Filtros" data-it="Gruppi di Filtrazione" data-hi="फ़िल्टर समूह">Filtre Grupları</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/celik-filtreler/tip1/1.webp" data-en="Type 1 Steel Filter" data-ru="Стальной фильтр тип 1" data-ar="فلتر فولاذي نوع 1" data-zh="1型钢制过滤器" data-es="Filtro de Acero Tipo 1" data-it="Filtro in Acciaio Tipo 1" data-hi="टाइप 1 स्टील फ़िल्टर">Tip 1 Çelik Filtre</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/celik-filtreler/tip2/1.webp" data-en="Type 2 Steel Filter" data-ru="Стальной фильтр тип 2" data-ar="فلتر فولاذي نوع 2" data-zh="2型钢制过滤器" data-es="Filtro de Acero Tipo 2" data-it="Filtro in Acciaio Tipo 2" data-hi="टाइप 2 स्टील फ़िल्टर">Tip 2 Çelik Filtre</a></li>
                              </ul>
                            </li>
                          </ul>

                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-timer' style='margin-right:10px;'></i>Heat Exchangers" data-ru="<i class='lni lni-timer' style='margin-right:10px;'></i>Теплообменники" data-ar="<i class='lni lni-timer' style='margin-right:10px;'></i>مبادلات حرارية" data-zh="<i class='lni lni-timer' style='margin-right:10px;'></i>换热器" data-es="<i class='lni lni-timer' style='margin-right:10px;'></i>Intercambiadores de Calor" data-it="<i class='lni lni-timer' style='margin-right:10px;'></i>Scambiatori di Calore" data-hi="<i class='lni lni-timer' style='margin-right:10px;'></i>हीट एक्सचेंजर"><i class="lni lni-timer" style="margin-right:10px;"></i>Eşanjörler</h6>
                          <ul class="list-unstyled mb-3">
                            <li><a class="dropdown-item nart-mega-link" href="products.html" data-preview="assets/img/products/esanjorler/1.webp" data-en="Heat Exchangers" data-ru="Теплообменники" data-ar="مبادلات حرارية" data-zh="换热器" data-es="Intercambiadores de Calor" data-it="Scambiatori di Calore" data-hi="हीट एक्सचेंजर">Eşanjörler</a></li>
                          </ul>

                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-box' style='margin-right:10px;'></i>Box Solutions" data-ru="<i class='lni lni-box' style='margin-right:10px;'></i>Коробочные решения" data-ar="<i class='lni lni-box' style='margin-right:10px;'></i>حلول الصناديق" data-zh="<i class='lni lni-box' style='margin-right:10px;'></i>箱体解决方案" data-es="<i class='lni lni-box' style='margin-right:10px;'></i>Soluciones de Cajas" data-it="<i class='lni lni-box' style='margin-right:10px;'></i>Soluzioni in Cassetta" data-hi="<i class='lni lni-box' style='margin-right:10px;'></i>बॉक्स समाधान"><i class="lni lni-box" style="margin-right:10px;"></i>Kutu Çözümleri</h6>
                          <ul class="list-unstyled">
                            <li class="has-sub-sub">
                              <a class="dropdown-item nart-mega-link" href="javascript:void(0)" data-preview="assets/img/products/kutular/1.webp" data-en="Service Boxes" data-ru="Сервисные коробки" data-ar="صناديق الخدمة" data-zh="服务箱" data-es="Cajas de Servicio" data-it="Cassette di Servizio" data-hi="सर्विस बॉक्स">Servis Kutuları</a>
                              <ul class="sub-sub-menu">
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/kutular/s300/s300-1.webp" data-en="S300 Wall Type Boxes" data-ru="Настенные коробки S300" data-ar="صناديق جدارية S300" data-zh="S300 壁挂式箱体" data-es="Cajas de Pared S300" data-it="Cassette a Parete S300" data-hi="S300 वॉल टाइप बॉक्स">S300 Duvar Tipi Kutular</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/kutular/s2300/s2300-1.webp" data-en="S2300 Wall Type Boxes" data-ru="Настенные коробки S2300" data-ar="صناديق جدارية S2300" data-zh="S2300 壁挂式箱体" data-es="Cajas de Pared S2300" data-it="Cassette a Parete S2300" data-hi="S2300 वॉल टाइप बॉक्स">S2300 Duvar Tipi Kutular</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/kutular/ces200/ces200-1.webp" data-en="CES200 Underground Box" data-ru="Подземная коробка CES200" data-ar="صندوق CES200 تحت الأرض" data-zh="CES200 地下服务箱" data-es="Caja Subterránea CES200" data-it="Cassetta di Servizio Sotterranea CES200" data-hi="CES200 अंडरग्राउंड सर्विस बॉक्स">CES200 Yer Altı Tipi Servis Kutusu</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/kutular/s700/s700-1.webp" data-en="S700 Wall Type Service Box" data-ru="Настенная коробка S700" data-ar="صندوق خدمة جداري S700" data-zh="S700 壁挂式服务箱" data-es="Caja de Pared S700" data-it="Cassetta di Servizio a Parete S700" data-hi="S700 वॉल टाइप सर्विस बॉक्स">S700 Duvar tipi servis kutusu</a></li>
                                <li><a href="products.html" class="nart-mega-link" data-preview="assets/img/products/kutular/s220/s220-1.webp" data-en="S220 Underground Type Boxes" data-ru="Подземные коробки S220" data-ar="صناديق تحت الأرض S220" data-zh="S220 地下式箱体" data-es="Cajas Subterráneas S220" data-it="Cassette Sotterranee S220" data-hi="S220 अंडरग्राउंड टाइप बॉक्स">S220 Yeraltı Tipi Kutular</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <!-- 4. SÜTUN: RESİMLİ ÖN İZLEME PANELİ -->
                        <div class="col-lg-3 text-center d-none d-lg-block">
                          <div class="p-2 rounded d-flex flex-column align-items-center justify-content-center" style="background: #f8f9fa; min-height: 220px; height: 100%;">
                            <div style="width: 100%; height: 160px; display: flex; align-items: center; justify-content: center; overflow: hidden;">
                              <i id="nart-mega-preview-icon" class="lni lni-package" style="font-size: 45px; color: #002e5b; display: block;"></i>
                              <img id="nart-mega-preview-img" src="" alt="Nart Ön İzleme" style="max-width: 100%; max-height: 100%; object-fit: contain; display: none; border-radius: 6px; box-shadow: 0 5px 15px rgba(0,0,0,0.08);" />
                            </div>
                            <p id="nart-mega-preview-text" class="small mt-2 text-dark mb-0" style="font-weight: 700; font-size: 13px; line-height: 1.3;" data-en="Our Products" data-ru="Наша продукция" data-ar="منتجاتنا" data-zh="我们的产品" data-es="Nuestros Productos" data-it="I Nostri Prodotti" data-hi="हमारे उत्पाद समूह">Ürün Gruplarımız</p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </li>

                <li class="nav-item">
                  <a href="about.html" data-en="About Us" data-ru="О нас" data-ar="معلومات عنا" data-zh="关于我们" data-es="Sobre Nosotros" data-it="Chi Siamo" data-hi="हमारे बारे में">Hakkımızda</a>
                </li>

                <li class="nav-item">
                  <a href="references.html" data-en="References" data-ru="Референсы" data-ar="المراجع" data-zh="参考项目" data-es="Referencias" data-it="Referenze" data-hi="संदर्भ">Referanslar</a>
                </li>

                <!-- HİZMETLER MEGAMENÜ ALANI -->
                <li class="nav-item dropdown position-static">
                  <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="Services" data-ru="Услуги" data-ar="الخدمات" data-zh="服务" data-es="Servicios" data-it="Servizi" data-hi="सेवाएं">
                    Hizmetler
                  </a>
                  <div class="dropdown-menu megamenu w-100 shadow border-0" style="margin-top: 0; background: #fff; border-radius: 0 0 10px 10px;">
                    <div class="container">
                      <div class="row p-4">
                        <div class="col-lg-3">
                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-construction' style='margin-right:10px;'></i>Field Services" data-ru="<i class='lni lni-construction' style='margin-right:10px;'></i>Полевые услуги" data-ar="<i class='lni lni-construction' style='margin-right:10px;'></i>الخدمات الميدانية" data-zh="<i class='lni lni-construction' style='margin-right:10px;'></i>现场服务" data-es="<i class='lni lni-construction' style='margin-right:10px;'></i>Servicios de Campo" data-it="<i class='lni lni-construction' style='margin-right:10px;'></i>Servizi sul Campo" data-hi="<i class='lni lni-construction' style='margin-right:10px;'></i>फ़ील्ड सेवाएं"><i class="lni lni-construction" style="margin-right:10px;"></i>Saha Hizmetleri</h6>
                          <ul class="list-unstyled">
                            <li><a class="dropdown-item" href="kaynakli-imalat.html" data-en="Welded Manufacturing" data-ru="Сварочное производство" data-ar="التصنيع الملحوم" data-zh="焊接制造" data-es="Fabricación Soldada" data-it="Carpenteria Saldata" data-hi="वेल्डेड निर्माण">Kaynaklı İmalat</a></li>
                            <li><a class="dropdown-item" href="istasyon-bakim-onarim.html" data-en="Station Maintenance & Repair" data-ru="Обслуживание и ремонт станций" data-ar="صيانة وإصلاح المحطات" data-zh="站维护与维修" data-es="Mantenimiento y Reparación de Estaciones" data-it="Manutenzione e Riparazione Stazioni" data-hi="स्टेशन रखरखाव और मरम्मत">İstasyon Bakım Onarım</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="fw-bold text-dark mb-3" data-en="<i class='lni lni-briefcase' style='margin-right:10px;'></i>Consultancy Services" data-ru="<i class='lni lni-briefcase' style='margin-right:10px;'></i>Консалтинговые услуги" data-ar="<i class='lni lni-briefcase' style='margin-right:10px;'></i>الخدمات الاستشارية" data-zh="<i class='lni lni-briefcase' style='margin-right:10px;'></i>咨询服务" data-es="<i class='lni lni-briefcase' style='margin-right:10px;'></i>Servicios de Consultoría" data-it="<i class='lni lni-briefcase' style='margin-right:10px;'></i>Servizi di Consulenza" data-hi="<i class='lni lni-briefcase' style='margin-right:10px;'></i>परामर्श सेवाएं"><i class="lni lni-briefcase" style="margin-right:10px;"></i>Danışmanlık Hizmetleri</h6>
                          <ul class="list-unstyled">
                            <li><a class="dropdown-item" href="danismanlik.html" data-en="Consultancy" data-ru="Консалтинг" data-ar="استشارة" data-zh="咨询" data-es="Consultoría" data-it="Consulenza" data-hi="परामर्श">Danışmanlık</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block"></div>
                        <div class="col-lg-3 d-none d-lg-block">
                          <div class="p-2 rounded d-flex flex-column align-items-center justify-content-center" style="background: #f8f9fa; min-height: 140px; height: 100%;">
                            <i class="lni lni-customer" style="font-size: 35px; color: #002e5b;"></i>
                            <p class="small mt-2 text-dark mb-0 text-center" style="font-weight: 700; font-size: 12px;" data-en="Nart Gaz Corporate Services" data-ru="Корпоративные услуги Nart Gaz" data-ar="خدمات نارت غاز للشركات" data-zh="Nart Gaz 企业服务" data-es="Servicios Corporativos Nart Gaz" data-it="Servizi Aziendali Nart Gaz" data-hi="Nart Gaz कॉर्पोरेट सेवाएं">Nart Gaz Kurumsal Hizmetler</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nav-item">
                  <a class="page-scroll" href="index.html#contact" data-en="Contact" data-ru="Контакты" data-ar="اتصل بنا" data-zh="联系我们" data-es="Contacto" data-it="Contatti" data-hi="संपर्क">İletişim</a>
                </li>

                <!-- DROPDOWN DİL SEÇİCİ -->
                <li class="nav-item dropdown ms-lg-3 ps-lg-1">
                  <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="nartLangDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Arimo, sans-serif; font-size: 14px; font-weight: 700; letter-spacing: 0.5px;">
                    <span id="nart-active-lang-text" class="d-flex align-items-center">TR</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="nartLangDropdown" style="min-width: 110px; background: #fff; border-radius: 8px; padding: 6px 0; margin-top: 10px;">
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('tr')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 800" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="1200" height="800" fill="#e30a17"/><circle cx="400" cy="400" r="200" fill="#fff"/><circle cx="450" cy="400" r="160" fill="#e30a17"/><polygon points="575,400 516.2,419.1 552.5,369.1 552.5,430.9 516.2,380.9" fill="#fff"/></svg>
                        TR
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('en')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><path d="M0 0v30h60V0z" fill="#012169"/><path d="M0 0l60 30M60 0L0 30" stroke="#fff" stroke-width="6"/><path d="M0 0l60 30M60 0L0 30" stroke="#C8102E" stroke-width="2"/><path d="M30 0v30M0 15h60" stroke="#fff" stroke-width="10"/><path d="M30 0v30M0 15h60" stroke="#C8102E" stroke-width="6"/></svg>
                        EN
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('ru')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="900" height="600" fill="#fff"/><rect width="900" height="400" y="200" fill="#0039a6"/><rect width="900" height="200" y="400" fill="#d52b1e"/></svg>
                        RU
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('ar')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="3" height="2" fill="#fff"/><rect width="3" height="0.66" fill="#731412"/><rect width="3" height="0.66" y="1.33" fill="#000"/><path d="M 0,0 L 0.75,1 L 0,2 Z" fill="#114a2b"/></svg>
                        AR
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('zh')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="30" height="20" fill="#de2110"/><path d="M5 5L3.4 6.2l.6-1.9-1.6-1.2h2l.6-1.9.6 1.9h2l-1.6 1.2.6 1.9zm5-2.5l-.2 1 .4-.9.7.5-.9.1.2 1-.5-.8-.8.6.6-.7-.5-.8h1zm2 2.5l-.6.8.1-1 .9.2-.8-.6.6-.8-.3.9-.9-.5.9-.2zm1 3l-.9.4.5-.8.6.7-.9-.1-.2 1-.1-.9-.9.4.8-.5zm-3 2l-.9-.4.9-.1-.1-.9.6.8.9-.5-.5.9.6.7-1-.1z" fill="#ffde00"/></svg>
                        ZH
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('es')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="3" height="2" fill="#c60b1e"/><rect width="3" height="1" y="0.5" fill="#ffc400"/></svg>
                        ES
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('it')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="1" height="2" fill="#009246"/><rect width="1" height="2" x="1" fill="#fff"/><rect width="1" height="2" x="2" fill="#ce2b37"/></svg>
                        IT
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-start px-3 py-2" href="javascript:void(0)" onclick="nartDilDegistir('hi')" style="font-family: Arimo, sans-serif; font-size: 13px; font-weight: 700; color: #162447;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600" style="width: 18px; height: auto; margin-right: 10px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.15);"><rect width="900" height="600" fill="#f93"/><rect width="900" height="400" y="200" fill="#fff"/><rect width="900" height="200" y="400" fill="#128807"/><circle cx="450" cy="300" r="90" fill="none" stroke="#008" stroke-width="12"/></svg>
                        HI
                      </a>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>